html, body{
  margin: 0;
  padding: 0;
  background-color: #99A1A6;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-navbar {
  height: inherit;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.App-navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #E3E4DB;
  width: 100px;

}

.App-navbar li:hover {
  cursor: pointer;
  background-color: #CDCDCD;
  color: #222;
}

.weatherHere {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.WeatherWidget {
  width: 200px;
}

.weatherIcon {
  width: 50px;
  margin-right: 10px;
  margin-top: 10px;
}

.weatherIconDiv {
  float: right;
}
