/*
Area for component. Using flex to center both vertically and horizontally
*/
.noteContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*
this contains the textfield and button. This box is centered.
*/
.textArea{
  width: 40%;
  height: 500px;

}

/*
This element centers title, inputbox and button 
*/
.textArea > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
