.todoItem > div > div {
	display: flex;
	justify-content: space-between;
}

.todoItem {
	margin-bottom: 10px;
}

@media screen and (max-width: 630px){

	.todoItem > div > div{
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	}

	.todoItem {
		
		margin-left: 10px;
		margin-right: 10px
	}

	.todoItemButtons {
		margin-left: 0;
	}	
}