.inputs {
	display: flex;
	flex-direction: row;
}

.input {
}

.todoItemCreator button {
	background-color: #555555 !important;
}

#notdone .todoItem button {
	background-color: #555555 !important;
}

#toggleDone {
	background-color: #555555 !important;
	height: auto !important;
	margin-top: 20px !important;
	margin-bottom: -20px !important;
}

#toggleDone div {
	margin-left : 20px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#done button {
	background-color: #007a87 !important;

}

#done .todoItem > div {
	background-color: #0097a7;
}

.todoItemText {
	display: flex;
	justify-content: space-between;
	flex-grow: 100;

}





.cardText {
	flex-grow: 100;
	text-align: right;
	font-style: italic;
}

.cardHeader {
	flex-grow: 100;
}

.todoItemButtons {
	display: flex;
	flex-direction: row;
	flex-grow: 0;

}

.todoItemCreator {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;

}


.app-area {
}

.button div {
	text-align: center;
}

.todoItem > div > div {
	display: flex;
	justify-content: space-between;
}

.todoItem {
	margin-bottom: 10px;
}

/*.note div:hover {
  background-color:	 #ff9999;
  cursor: pointer;
}*/

.todoItemContainer {
	/*bottom: 0;*/
	width: 40%;
	margin-right: auto;
	margin-left: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;


}

.creatorContainer {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-flow: row wrap;

}

@media screen and (max-width: 1200px){

	.todoItemContainer {
		width: 60%;


	}
}

@media screen and (max-width: 900px){

	.todoItemContainer {
		width: 75%;


	}
}

@media screen and (max-width: 800px){
	.todoItemContainer {
		width: 85%;
	}
}

@media screen and (max-width: 700px){
	.todoItemContainer {
		width: 95%;
	}

	.todoItemCreator {
	}


}

@media screen and (max-width: 630px){
	.todoItemContainer {
		width: 100%;

	}	.todoItemCreator {
		margin-left: 10px;
		margin-right: 10px;
	}

	.todoItem > div > div{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	}

	.todoItem {
		
	margin-left: 10px;
	margin-right: 10px
	}

	.todoItemButtons {
	margin-left: 0;
}	

	#toggleDone {
		margin-left: 10px !important;
	}


}