.inputs {
	display: flex;
	flex-direction: row;
}

.todoItemText {
	display: flex;
	justify-content: space-between;
	flex-grow: 100;

}

.cardText {
	flex-grow: 100;
	text-align: right;
	font-style: italic;
}

.cardHeader {
	flex-grow: 100;
}

.todoItemButtons {
	display: flex;
	flex-direction: row;
	flex-grow: 0;

}

.todoItemCreator {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;

}

#toggleDone div {
	margin-left : 20px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.todoItemContainer {
	width: 40%;
	margin-right: auto;
	margin-left: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.creatorContainer {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-flow: row wrap;

}

@media screen and (max-width: 1200px){

	.todoItemContainer {
		width: 60%;


	}
}

@media screen and (max-width: 900px){

	.todoItemContainer {
		width: 75%;


	}
}

@media screen and (max-width: 800px){
	.todoItemContainer {
		width: 85%;
	}
}

@media screen and (max-width: 700px){
	.todoItemContainer {
		width: 95%;
	}

	.todoItemCreator {
	}


}

@media screen and (max-width: 630px){
	.todoItemContainer {
		width: 100%;

	}	.todoItemCreator {
		margin-left: 10px;
		margin-right: 10px;
	}



	#toggleDone {
		margin-left: 10px !important;
	}


}