.Inputs {
	display: flex;
	flex-direction: row;
}

.TodoItemText {
	display: flex;
	justify-content: space-between;
	flex-grow: 100;

}

.CardText {
	flex-grow: 100;
	text-align: right;
	font-style: italic;
}

.CardHeader {
	flex-grow: 100;
}

.TodoItemButtons {
	display: flex;
	flex-direction: row;
	flex-grow: 0;

}

.TodoItemCreator {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;

}

#ToggleDone div {
	margin-left : 20px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.TodoItemContainer {
	width: 40%;
	margin-right: auto;
	margin-left: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.CreatorContainer {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-flow: row wrap;

}

@media screen and (max-width: 1200px){

	.TodoItemContainer {
		width: 60%;


	}
}

@media screen and (max-width: 900px){

	.TodoItemContainer {
		width: 75%;


	}
}

@media screen and (max-width: 800px){
	.TodoItemContainer {
		width: 85%;
	}
}

@media screen and (max-width: 700px){
	.TodoItemContainer {
		width: 95%;
	}

	.TodoItemCreator {
	}


}

@media screen and (max-width: 630px){
	.TodoItemContainer {
		width: 100%;

	}	.TodoItemCreator {
		margin-left: 10px;
		margin-right: 10px;
	}



	#ToggleDone {
		margin-left: 10px !important;
	}


}